<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="FATAL">
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5p %d{HH:mm:ss}] %c{1}:%L - %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
		<!-- avoid duplicated logs with additivity=false -->
        <Logger name="demo" level="debug" additivity="false">
            <AppenderRef ref="LogToConsole"/>
        </Logger>
        <Logger name="embed" level="debug" additivity="false">
            <AppenderRef ref="LogToConsole"/>
        </Logger>
        <Logger name="managers" level="debug" additivity="false">
            <AppenderRef ref="LogToConsole"/>
        </Logger>
        <Root level="fatal">
            <AppenderRef ref="LogToConsole"/>
        </Root>
    </Loggers>
</Configuration>